<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>A Course in Mindfulness - Talks in Progress.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<div align="center">
  <h3 align="center">&nbsp;</h3>
  <h2 align="center"><strong>A Course in Mindfulness</strong></h2>
  <h3 align="center"><strong>Time for You</strong></h3>
  <p align="center"><img src="/images/banner.jpg" alt="Relax, Free your Heart, Let go" width="1000" height="214"></p>
  <p align="center">&nbsp;</p>
  <table width="910" border="0">
    <tr>
      <th width="419" scope="col">Talks</th>
      <th width="205" scope="col">&nbsp;</th>
      <th width="272" scope="col">Guided Instructions</th>
    </tr>
    <tr>
      <td><div align="left"><a href="Audios/The%20tale%20of%20the%20zen%20monk%20and%20the%20bag%20of%20horse%20manure.mp3">Introduction: The tale of the Zen monk and the bag of horse manure.</a> </div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div align="left"></div></td>
      <td><strong>Week 1,2,3</strong></td>
    </tr>
    <tr>
      <td><div align="left"><a href="Audios/Freedom%20from%20an%20over-thinking%20mind.mp3">Freedom from an overthinking mind. </a></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div align="left"></div></td>
      <td><div align="left">Audio 1: Connecting with the physical body. </div></td>
    </tr>
    <tr>
      <td><div align="left"><a href="Audios/Mindfulness,%20meditation,%20relaxation.mp3">Mindfulness, meditation, relaxation.</a> </div></td>
      <td><div align="left"></div></td>
      <td><div align="left">Audio 2: Freeing the breath. </div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div align="left"></div></td>
      <td><div align="left">Audio 3: Cultivating positive emotion. </div></td>
    </tr>
    <tr>
      <td><div align="left"><a href="Audios/Mindfulness.mp3">Mindfulness.</a></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="left"><strong>Week 4 </strong></div></td>
    </tr>
    <tr>
      <td><div align="left"><a href="Audios/Our%20mind%20can%20be%20our%20best%20friend%20or%20worst%20enemy.mp3">Our mind can be our best friend or worst enemy</a>. </div></td>
      <td><div align="left"></div></td>
      <td><div align="left">Mindfulness of breathing practice.</div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="left"></div></td>
    </tr>
    <tr>
      <td> <div align="left">Obstacles to mindfulness. </div></td>
      <td><div align="left"></div></td>
      <td><div align="left"><strong>Week etc. etc.. </strong></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="center"></div></td>
    </tr>
    <tr>
      <td> <div align="left">Attitude, effort, expectations. </div></td>
      <td>&nbsp;</td>
      <td><div align="center"><strong>Blog</strong></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="center">www.freeingtheheart.com</div></td>
    </tr>
    <tr>
      <td> <div align="left">Posture. </div></td>
      <td>&nbsp;</td>
      <td><div align="center"></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="center"><strong>Smart Phone App </strong></div></td>
    </tr>
    <tr>
      <td> <div align="left">Daily formal practice. </div></td>
      <td>&nbsp;</td>
      <td><div align="center">www.taptapmindfulness.com</div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td> <div align="left">Mindfulness in everyday life. </div></td>
      <td>&nbsp;</td>
      <td><div align="center"></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><div align="left">Letting go. </div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><div align="left">Awareness.</div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p align="center">&nbsp;</p>
  <p align="center">&nbsp;</p>
  <h3 align="left">&nbsp;</h3>
  <p align="left">&nbsp;</p>
</div>
</body>
</html>
